<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        #result {
            word-break: break-all;
            background-color: #f0e5f7;
            padding: 20px;
        }

        .btn-copy {
            margin-bottom: -10px;
            margin-right: -10px;
        }

        /* Custom size */
        .button-small {
          font-size: .8rem;
          height: 2.8rem;
          line-height: 2.8rem;
          padding: 0 1.5rem;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top: 30px">
        <form action="{{ url_for('handle_data') }}" method="post" id="link-form">
            <fieldset>
                <label for="linkField">NFL Video Link</label>
                <input type="text" placeholder="http://www.nfl.com/videos/good-morning-football/0ap3000001023515/Predicting-the-biggest-upsets-of-the-2019-season" id="linkField" name="linkField">
                <input class="button-primary" type="submit" value="Fetch">
            </fieldset>
        </form>

        <div id="result" class="clearfix" style="display: none">
            <div id="result-text">Filler</div>
            <button class="button button-outline button-small float-right btn-copy" onclick="copyToClipboard()">Copy</button>
        </div>

        <input type="hidden" id="copyText"/>
    </div>

    <script>
        document.querySelector('#link-form').addEventListener('submit', function(e) {
            e.preventDefault();
            let formData = new FormData(this);
            let parsedData = {};
            for(let name of formData) {
                if (typeof(parsedData[name[0]]) == "undefined") {
                    let tempdata = formData.getAll(name[0]);
                    if (tempdata.length > 1) {
                        parsedData[name[0]] = tempdata;
                    } else {
                        parsedData[name[0]] = tempdata[0];
                    }
                }
            }

            let options = {};
            options.method = "POST";
            options.body = JSON.stringify(parsedData);

            fetch(this.action, options).then(r => r.json()).then(data => {
                console.log(data);
                document.getElementById("result-text").innerHTML = data['links'];
                document.getElementById("result").style.display = "block"
            });
        });

        function copyToClipboard() {
            const textField = document.createElement('textarea');
            var resultText = document.getElementById("result-text");
            textField.innerText = resultText.innerHTML;
            document.body.appendChild(textField);
            textField.select();
            document.execCommand('copy');
            document.body.removeChild(textField);
        }
    </script>
</body>
